.container {
  margin: 30px 10px;
  background: #f9f9f9;
  padding: 10px 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.steps-img-cont {
  display: flex;
  justify-content: center;
}

.steps-img {
  width: 90%;
  margin: 10px 0;
}
